html,
body {
    width: 100%;
    height: 100%;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.parallax {
    background-image: linear-gradient( rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("img/landing.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#landing h1,
#landing h2 {
    color: white;
}

#landing h1 {
    font-family: 'baloo';
    font-weight: bold;
}

#landing h2 {
    font-family: 'Damion', cursive;
    font-style: italic;
}


/*x-small*/
@media (max-width: 768px) {
    #landing h1 {
        font-size: 55px;
    }
    #landing h2 {
        font-size: 35px;
    }
}


/*small*/
@media (min-width: 768px) {
    #landing h1 {
        font-size: 60px;
    }
    #landing h2 {
        font-size: 40px;
    }
}


/*Medium*/

@media (min-width: 992px) {
    #landing h1 {
        font-size: 65px;
    }
    #landing h2 {
        font-size: 45px;
    }
}


/*Large*/
@media (min-width: 1200px) {
    #landing h1 {
        font-size: 70px;
    }
    #landing h2 {
        font-size: 50px;
    }
}

.container {
    background-color: #FFD7B1;
    margin: 10px auto;
    padding: 0 20 50px;
}

#home h1 {
    text-align: left;
}

#home h2 {
    font-style: italic;
}

#home h4 {
    font-weight: bold;
}


/*x-small*/
@media (max-width: 768px) {
    #home h1 {
        font-size: 30px;
    }
    #home h2 {
        font-size: 24px;
    }
    #home h4,
    #home p {
        font-size: 16px;
    }
}


/*small*/
@media (min-width: 768px) {
    #home h1 {
        font-size: 29px;
    }
    #home h2 {
        font-size: 26px;
    }
    #home h4,
    #home p {
        font-size: 17px;
    }
}


/*Medium*/
@media (min-width: 992px) {
    #home h1 {
        font-size: 30px;
    }
    #home h2 {
        font-size: 27px;
    }
    #home h4,
    #home p {
        font-size: 18px;
    }
}


/*Large*/
@media (min-width: 1200px) {
    #home h1 {
        font-size: 33px;
    }
    #home h2 {
        font-size: 31px;
    }
    #home h4,
    #home p {
        font-size: 21px;
    }
}

#break {
    /*height: 30px;*/
    background-color: black;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

/*x-small*/
@media (max-width: 768px) {
    #break p {
        font-size: 17px;
    }
}

/*small*/
@media (min-width: 768px) {
    #break p {
        font-size: 18px;
    }
}


/*Medium*/
@media (min-width: 992px) {
    #break p {
        font-size: 19px;
    }
}


/*Large*/
@media (min-width: 1200px) {
    #break p {
        font-size: 21px;
    }
}

#facts {
    background-color: #F2E8DA;
}
/*x-small*/
@media (max-width: 768px) {
    #facts h1 {
        font-size: 28px;
    }
    #facts h2,
    #gallery h3 {
        font-size: 25px;
    }
    #facts p {
        font-size: 17px;
    }
}

/*small*/
@media (min-width: 768px) {
    #facts h1 {
        font-size: 29px;
    }
    #facts h2,
    #gallery h3 {
        font-size: 26px;
    }
    #facts p {
        font-size: 18px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    #facts h1 {
        font-size: 30px;
    }
    #facts h2,
    #gallery h3 {
        font-size: 27px;
    }
    #facts p {
        font-size: 19px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    #facts h1 {
        font-size: 33px;
    }
    #facts h2,
    #gallery h3 {
        font-size: 31px;
    }
    #facts p {
        font-size: 21px;
    }
}

#gallery {
    margin: 10px 0px;
    width: 100%;
}

#contact {
    margin: 10 auto 0px;
    background-color: #FFD7C7;
}

.contacts {
    text-align: center;
}

.address {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.number {
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
}

/*X-Small*/
@media (max-width: 768px) {
    .address,
    .number {
        font-size: 20px;
    }
    #contactH2 {
        font-size: 24px;
    }
    #contactH4 {
        font-size: 22px;
    }
}

/*small*/
@media (min-width: 768px) {
    .address,
    .number {
        font-size: 21px;
    }
    #contactH2 {
        font-size: 25px;
    }
    #contactH4 {
        font-size: 2px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .address,
    .number {
        font-size: 22px;
    }
    #contactH2 {
        font-size: 26px;
    }
    #contactH4 {
        font-size: 24px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .address,
    .number {
        font-size: 24px;
    }
    #contactH2 {
        font-size: 28px;
    }
    #contactH4 {
        font-size: 26px;
    }
}

#copyright {
    text-align: center;
    background-color: #C9C5C2;
    margin-top: 0px;
}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
}
