html,
body {
    width: 100%;
    height: 100%;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.parallax {
    background-image: linear-gradient( rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("img/landing.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#landing h1,
#landing h2 {
    color: white;
    font-family: 'Erica One', cursive;
    font-weight: bold;
}

@media (max-width: 768px) {
    #landing h1 {
        font-size: 35px;
    }
    #landing h2 {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    #landing h1 {
        font-size: 45px;
    }
    #landing h2 {
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    #landing h1 {
        font-size: 48px;
    }
    #landing h2 {
        font-size: 45px;
    }
}

.container {
    background-color: #FFD7B1;
    margin: 10px auto;
    padding: 0 20 10px;
}

#home h1 {
    text-align: left;
}
#home p {
    font-size: 15px;
}

#gallery {
    margin: 10px 0px;
    width: 100%;
}

#contact {
    margin: 10 auto 0px;
}

.contacts {
    text-align: center;
}

.address {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.number {
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
}

#copyright {
    text-align: center;
    background-color: #C9C5C2;
    margin-top: 0px;
}
